<!DOCTYPE html>
{% load staticfiles %}
<html lang= "en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device=width, initial-scale=1.0"> 
        <link rel="stylesheet" href="{%  static 'css/homestyle.css' %}"/>  
        <title>Home · Ask A Doctor</title>
             
    </head>
    <body>
            <div class="container" style="font-family: serif" >
                {% include 'MyApp/web_head.html' %}
                {% include 'MyApp/navbar.html' %}
            
<h1 style="text-align:center;padding-top:15px; padding-bottom:15px;">CENTRES OF EXCELLENCE</h1>
<div class="outer">
<h1 style="color:Red;">Heart</h1>
<img src="https://media.istockphoto.com/vectors/anatomical-heart-isolated-muscular-organ-in-human-vector-id625147262?k=6&m=625147262&s=612x612&w=0&h=IccRS4I540X8ifT1LWrqhjGmhtxDEWo69d57z6BgAZY=" width="400" height="400" id="hp" >
<p>Our team of cardiologists and cardiothoracic surgeons are trained at the top institutes 
in India and abroad and are completely dedicated to the treatment for coronary heart diseases. 
Our pioneering work for the prevention and treatment of cardiac diseases has led to the achievement 
of better outcomes and improved quality of life for thousands of cardiac patients.</p>

<h2><u>Specialities</u></h2>
<p>Third generation Cath Labs, Cardiac Critical Care Units and Intensive Care Units support our experienced cardiologists and post-operative care teams, making us the most sought-after Cardiology hospital in India.</p>

<h3><u>Treatments</u></h3>
<ol>
  <li>Coronary Artery Bypass Surgery</li>
  <li>Surgery for all types of valvular heart diseases</li>
  <li>Paediatric heart surgery</li>
  <li>Adult and paediatric heart transplantation</li>
</ol>

<h3><u>Facilities</u></h3>
<p><h4><i>1) Cardiothoracic CCU:</i></h4>
<p>The Centres have dedicated Cardiothoracic CCUs. They are well equipped with bedside 
colour doppler, echocardiography system, continuous oxygen supply, infusion pumps, defibrillator,
 ventilators, invasive as well as non-invasive pressure monitoring systems, temporary pacemaker 
 (transdermal as well as transvenous), intra-aortic balloon pump, ABG (Blood Gas machine) and 
 electrolytes analysis machines.</p>
<h4><i>2) Electrophysiology:</i></h4>
<p>Electrophysiological studies have been used for decades to evaluate cardiac arrhythmias and to get
 a basic understanding of their mechanisms. Ventricular tachyarrhythmias are the commonest cause of 
 sudden cardiac death (SCD). The patients are investigated by an EP study and, if required, provided 
 with implantable cardioverter defibrillator (ICD) as a life saving device. We have capabilities for
  multi-site pacing for patients of Heart Failure and Dilated cardiomyopathy. Recently a bilateral 
  pacing was performed for intermittent Atrial Fibrillation.</p>

<h7><b><i>3) Non-invasive cardiology:</i></b></h7>
<p>The Non-invasive Cardiac Laboratory is run by senior cardiologists who are dedicated to the work in the field. The procedures done here include stress echoes, dobutamine stress echoes, vascular dopplers, trans-oesophageal echoes, intra-operative TEE and fatal echoes.</p>
</p>

<h3><b><u>Cardiologist & Cardiothoracic Surgeons</u></b></h3>
<p>As we are dealing with the most important and crucial organ of the body it is very much necessary that you should get treated with the best doctors. Getting yourself tested and treated from the best of Cardiology doctors for all your issues is not only a wise choice but also a vital one to ensure healthy living. This especially applies to critical illnesses affecting the heart.</p>

<h3><b><u>Tracking Outcomes</u></b></h3>
<p>High-quality, evidence-based care (care that is proven) leads to more lives saved and less time in the hospital. Quality care also means safer care for consumers. This involves constantly and proactively looking at processes to improve safety and, in turn, quality.</p>
<p>It is important to consider quality, because research shows that some hospitals simply do a better job than others. For example, we know that hospitals that do a greater number of the same surgeries have better outcomes for their patients.</p>

<h1 style="color:Orange;">Cancer Care</h1>
<img src="https://img.freepik.com/free-vector/lung-cancer-abstract-concept-vector-illustration-oncology-early-stage-diagnostics-tumor-risk-factor-lung-cancer-treatment-fighting-disease-chemical-therapy-oncology-abstract-metaphor_335657-4072.jpg?size=338&ext=jpg&ga=GA1.2.687747352.1628208000" width="400" height="400" id="hp" >
<p>Our hospital provides comprehensive cancer care with best treatment facilities in India. Our expert team of oncologists examines every case jointly and decides on the best line of cancer treatment for the patient. Specially trained medical counsellors, speech therapists, dieticians and other professionals, appropriate to each individual case, provide support to the team of cancer specialists.</p>

<h2><b><u>Specialities</u></b></h2>
<p>Our commitment to providing the highest level of advanced cancer care treatment includes a multi-faceted approach that relies on what we call the four pillars of cancer treatment. Meet our cancer care clinical team of accredited and highly qualified cancer care specialists and top oncologists in India.</p>

<h3><b><u>Treatments</u></b></h3>
<p>
<h4><b><i>1) Proton Therapy</i></b></h4>
<p>Proton Therapy is a highly sophisticated form of Radiation Therapy that uses high energy protons to target tumours accurately while greatly reducing the radiation dosage to the surrounding healthy tissues. The precision of proton therapy allows it to preserve vital structures at the tumour site, thereby giving myriad benefits to the patient.</p>

<h4><b><i>2) Cyberknife And Tomotherapy</i></b></h4>
<p>TomoTherapy [Highly Integrated Adaptive Radiotherapy (HI-ART)] shares a lot of technology with CT scanners. The machine even looks like a CT scanner.</p>

<h4><b><i>3) Medical Oncology</i></b></h4>
<p>Taking a shift from the regular procedures of giving chemotherapy and general drug treatment to any cancer patient, the high end therapeutic method is the next level of treating cancer with more personalised drugs.</p>

<h4><b><i>4) Diagnostics</i></b></h4>
<p>The diagnostic imaging and therapy systems at our hospital is sophisticated and the radiology groups and imaging facility at the hospital offer the most economic and effective ways to treat cancer.</p>

<h4><b><i>5) Transplants</i></b></h4>
<p>Stem Cell or Bone Marrow Transplantation is one of the innovative treatments offered at our hospital. It is an exciting area of medicine. Over the last few decades this has been a well established treatment for several cancers and diseases of the blood.</p>
</p>

<h3><b><u>Our Hospitality</u></b></h3>
<p>Our dedicated team of cancer doctors, nurses and caretakers leave no stone unturned when it comes to cancer treatment and management. Our holistic approach ensures appropriate actions in relation to the situation at hand.</p>
<p>We understand and stress on the right way of fighting cancer. We promote a more profound recognition of individuals and their cancer treatment. We believe and know that every cancer is different, and hence, a specialised cancer treatment is necessary for each.</p>
<p>We are practitioners of researched cancer care methodologies, owing to which, our multidisciplinary team of cancer specialists are strongly guided by national as well as global protocols.</p>

<h1 style="color:DodgerBlue;">Orthopaedics</h1>
<img src="https://cdn.dribbble.com/users/1972110/screenshots/7152162/media/16a68c7c66da97d2634224f604ee1e1d.jpg?compress=1&resize=400x300" width="400" height="300" id="hp" >
<p>Orthopedics is a medical specialty that focuses on the diagnosis, correction, prevention, and treatment of patients with skeletal deformities - disorders of the bones, joints, muscles, ligaments, tendons, nerves and skin. These elements make up the musculoskeletal system.</p>

<h2><b><u>Role of the Orthopedist</u></b></h2>
<p>In general, orthopedists are skilled in the:
<ul>
<li>Diagnosis of your injury or disorder.</li>
<li>Treatment with medication, exercise, surgery or other treatment plans.</li>
<li>Rehabilitation by recommending exercises or physical therapy to restore movement, strength and function.</li>
<li>Prevention with information and treatment plans to prevent injury or slow the 	progression of diseases.</li>
</ul>
</p>

<h3><b><u>Specialities</u></b></h3>
<p>While most orthopedists practice general orthopedics, some may specialize in treating the foot, hand, shoulder, spine, hip, knee, and others in pediatrics, trauma or sports medicine. Some orthopedists may specialize in several areas.</p>

<h3><b><u>Treatments</u></b></h3>
<p>
<h4><b><i>1) Joint Replacements</i></b></h4>
<ul>
<li>Total hip and knee replacement</li>
<li>Total elbow and shoulder replacement</li>
<li>Wrist as well as Ankle joint replacement</li>
</ul>
<h4><b><i>2) Spinal Surgery</i></b></h4>
<ul>
<li>Disc surgery</li>
<li>Fixation systems for fractures</li>
<li>Surgery for correction of spinal deformities and spinal tubercolosis</li>
<li>Endoscopic spine surgery</li>
</ul>
<h4><b><i>3) Pediatric Orthopaedics</i></b></h4>
<ul>
<li>Congenital limb and spinal deformities corrections</li>
<li>Bone and joint infections management</li>
<li>Juvenile arthritis management</li>
</ul>
<h4><b><i>4) Other Treatment</i></b></h4>
<ul>
<li>Regrow – Cell Therapy for Knee</li>
<li>Regrow – Cell Therapy for Hip</li>
</ul>
</p>
<h3><b><u>Tracking Outcomes</u></b></h3>
<p>High-quality, evidence-based care (care that is proven) leads to more lives saved and less time in the hospital. Quality care also means safer care for consumers. This involves constantly and proactively looking at processes to improve safety and, in turn, quality.</p>
<p>It is important to consider quality, because research shows that some hospitals simply do a better job than others. For example, we know that hospitals that do a greater number of the same surgeries have better outcomes for their patients.</p>

<h1 style="color:Green;">Gastroenterology</h1>
<img src="https://media.istockphoto.com/vectors/stomach-health-medical-illustration-vector-id1217056895?k=6&m=1217056895&s=612x612&w=0&h=ThabwL7b8E02-88Uu9d57b_J9OEVYSdikuPgQ2fZquU=" width="400" height="300" id="hp" >
<p>Gastroenterology essentially addresses diseases of the esophagus, stomach, small intestine, colon and rectum, pancreas, gallbladder, bile ducts and liver. The functioning of the entire digestive system, both related to the passage of food through the digestive canal to the physiological processes of food digestion, absorption and elimination come under the purview of this specialty.</p>

<h2><u>Gastroenterologist</u></h2>
<p>A Gastroenterologist is a physician with dedicated training management of diseases of the gastrointestinal tract and liver.</p>

<h3><u>Training</u></h3>
<p>
<ul>
<li>A Gastroenterologist must first complete a three-year Internal Medicine residency and is then eligible for additional specialized training (fellowship) in Gastroenterology. This fellowship is generally 2-3 years long so by the time Gastroenterologists have completed their training, they have had 5-6 years of additional specialized education following medical school.</li>
<li>Gastroenterology fellowship training is an intense, rigorous program where future Gastroenterologists learn directly from nationally recognized experts in the field and develop a detailed understanding of gastrointestinal diseases. They learn how to evaluate patients with gastrointestinal complaints, treat a broad range of conditions, and provide recommendations to maintain health and prevent disease. They learn to care for patients in the office as well as in the hospital.</li>
<li>Gastroenterologists also receive dedicated training in endoscopy (upper endoscopy, sigmoidoscopy, and colonoscopy) by expert instructors.Gastroenterology trainees also learn how to perform advanced endoscopic procedures such as polypectomy (removalof colon polyps), esophageal and intestinal dilation (stretching of narrowed areas), and hemostasis (injection or cautery to stop bleeding).</li>
</ul>
</p>

<h3><u>What makes Gastroenterologists different?</u></h3>
<p>
<ol>
<li>The unique training that Gastroenterologists complete provides them with the ability to provide high quality, comprehensive care for patients with a wide variety of gastrointestinal ailments.</li>
<li>Gastroenterologists perform the bulk of research involving gastrointestinal endoscopic procedures as well as the interpretation of results, and are considered experts in the field.</li>
<li>
<p>Studies have shown that Gastroenterologists perform higher quality colonoscopy examinations and comprehensive consultative services when compared to other physicians. This translates into more accurate detection of polyps and cancer by colonoscopy when performed by Gastroenterologists, fewer complications from procedures and fewer days in the hospital for many gastrointestinal conditions managed by trained gastroenterology specialists.</p>
<p>It is this ability to provide more complete, accurate, and thorough care for patients with gastrointestinal conditions, which distinguishes Gastroenterologists from other physicians that provide some similar services.
</p></li>
</ol>
</p>

<h3><u>Treatments</u></h3>
<p>
<h4><i><b>1) Surgeries</b></i></h4>
<ul>
<li>Endoscopic Non-Ablative Radiofrequency (NARF) Treatment For Sphincter Disorders</li>
<li>Gastroesophageal Reflux Disease (GERD)</li>
<li>Stretta Therapy</li>
<li>Anal (Faecal) Incontinence</li>
<li>Secca Therapy</li>
</ul>
</p>
<p>
<h4><i><b>2) Hepatology</b></i></h4>
</p>
<p>
<h4><i><b>3) Liver Transplants</b></i></h4>
</p>
<p>
<h4><i><b>4) Endoscopy</b></i></h4>
</p>
<p>
<h4><i><b>5) Pancreatic Transplantation</b></i></h4>
</p>

<h3><u>Tracking Outcomes</u></h3>
<p>High-quality, evidence-based care (care that is proven) leads to more lives saved and less time in the hospital. Quality care also means safer care for consumers. This involves constantly and proactively looking at processes to improve safety and, in turn, quality.</p>
<p>It is important to consider quality, because research shows that some hospitals simply do a better job than others. For example, we know that hospitals that do a greater number of the same surgeries have better outcomes for their patients.</p>

<h1 style="color:DarkViolet;">NeuroSciences</h1>
<img src="https://st2.depositphotos.com/1067125/7441/v/950/depositphotos_74418155-stock-illustration-human-brain-lobes.jpg" width="400" height="300" id="hp" >
<p>Neurosurgery a branch of surgery involved with the brain injury, spine and nerves, is a key specialty at our hospital. Our neurosurgery doctors treat neurological diseases such as brain injury or diseases, head injury, spinal injury, brain tumors, spinal tumors, brain hemorrhage, hydrocephalus, nerve injuries, tumors, disc prolapse or herniation, spinal dislocation, unstable spine, congenital malformations like atlanto-axial dislocation, spinal dysraphism etc. </p>
<p>Our neurologists will check for complex neurology diseases and conditions of the patient and provide treatment based on the observation.</p>

<h2><u>Role of Neurologist</u></h2>
<p>Neurologists diagnose, treat and manage disorders that affect the central nervous system (the brain and spinal cord) and the peripheral nervous system (nerves and muscles which activate movement and transmit sensation from all parts of the body to the brain).</p>

<h3><u>Specialities</u></h3>
<p>While most neurologists practice general neurology, some may specialize in Consultative Neurology, CU Alzheimer's and Cognition Center, Monvement Disorders, Memory Disorders, Neuro-Infectious Disease, Neuro-Muscular Medicine, and others in Neuro-Oncology, Neuro-Opthalmology or Neuro-Vascular/Stroke.</p>

<h3><u>Treatments</u></h3>
<ol>
<li><i><b>Brain & Spine Surgery</b></i></li>
<li><i><b>Micro-Neuro Surgery</b></i></li>
<li><i><b>Surgery for Spinal Cord Tumors</b></i></li>
<li><i><b>Skull Base Surgery</b></i></li>
<li><i><b>Pediatric Neurosurgery</b></i></li>
<li><i><b>Neuro-Radiology Services</b></i></li>
<li><i><b>Robotic Neurorehabilitation</b></i></li>
</ol>

<h3><u>Tracking Outcomes</u></h3>
<p>High-quality, evidence-based care (care that is proven) leads to more lives saved and less time in the hospital. Quality care also means safer care for consumers. This involves constantly and proactively looking at processes to improve safety and, in turn, quality.</p>
<p>It is important to consider quality, because research shows that some hospitals simply do a better job than others. For example, we know that hospitals that do a greater number of the same surgeries have better outcomes for their patients.</p>
</div></div>
</body>

<style>
.outer{
    margin-left:6%;
    margin-right:10%;
    font-size:18px;
    font-family:sans-serif;
    text-align: justify;
    background-color: #f9f9f9;
    padding:50px;
}
#hp{
    float: right;    
    margin: 0 0 0 15px;
    padding-left:50px;
    padding-bottom:30px;
}
</style>
</html>